// Fonts
@import url('https://fonts.googleapis.com/css?family=Lato');
// Variables
@import "variables";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.container {
  width: 100%;
}

p, h1, h2, h3, h4, h5, h6, span, body {
  font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: white;
}

.arrow {
  background-image: url('/img/down-arrow.svg');
  background-repeat: no-repeat;
}

.concepts-wrapper {
  height: 600px;
  background-color: #0d4203;
  .all {
    margin-top: 2em;
    a {
      right: 9px;
      position: absolute;
    }
  }
  .text-center {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .concepts {
    margin-top: 7%;
    .concept {
      background-size: cover;
      background-position: 50%;
      height: 250px;
      padding: 0;
      &:hover {
        .overlay {
          opacity: 1;
        }
      }
      .overlay {
        padding-top: 30%;
        color: white;
        background: rgba(0, 0, 0, .75);
        text-align: center;
        height: 250px;
        width: 100%;
        opacity: 0;
        -webkit-transition: opacity .25s ease;
        -moz-transition: opacity .25s ease;
        .text {
          font-size: 2em;
        }
      }
      &.c1 {
        background-image: url('/img/brazil.jpg');
      }
      &.c2 {
        background-image: url('/img/jamaica.jpg');
      }
      &.c3 {
        background-image: url('/img/magician.jpg');
      }
    }
  }
}

.artist {
  background-color: #a4602f;
  height: 600px;

  h2, h3 {
    color: $dark-blue;
  }
  .head {
    margin-top: 2em;
    margin-bottom: 2em;
  }
  .picture {
    background-image: url('/img/luan.png');
    height: 478px;
    background-size: cover;
  }
  .text {
    color: white;
    margin-top: 4%;
    a {
      right: 25px;
      position: absolute;
    }
  }
}

.purpose {
  background-color: #343434;
  color: white;
  .text {
    margin-top: 9%;
    p {
      margin-top: 1em;
    }
    span {
      color: $red-accent;
    }
  }

  .carluccio {
    background-image: url('/img/carluccio2.jpg');
    background-size: cover;
    height: 600px;
  }
}

.welcome {
  background-image: url('/img/welcome.jpg');
  height: 100vh;
  background-size: 100%;
  background-position-y: 55%;
  background-repeat: no-repeat;
  text-align: center;
  .text {
    background-color: rgba(1, 1, 1, .65);
    padding: 1em;
    padding-bottom: 1.5em;
    margin-top: 50vh;
    border-radius: 9px 4px;
    h1 {
      color: white;
    }
  }

  .discover {
    color: white;
    background-size: 3em;
    background-position-x: 50%;
    background-position-y: 100%;
    margin-top: 11%;
    height: 5em;
    cursor: pointer;
  }
}

.header {
  .navbar {
    padding: 1em 0;
    background-color: white;
    .navbar-brand {
      background-image: url('/img/logo.svg');
      background-size: contain;
      margin-left: 10px;
      width: 25%;
      background-repeat: no-repeat;
    }
    .navbar-nav {
      .item {
        &.active {
          a {
            color: red;
            background-color: white;
            &:before {
              height: 140%;
            }
            span {
              background: white;
            }
          }
        }
        a {
          position: relative;
          span {
            position: relative;
          }
          &:before {
            position: absolute;
            top: 50%;
            left: 50%;
            width: 1px;
            background: #d7d8da;
            height: 0%;
            content: "";
            transform: translateX(-50%) translateY(-50%) rotate(45deg);
          }
        }
      }
    }
    .diamond {
      width: 0;
      height: 0;
      border: 5px solid transparent;
      border-bottom: 5px solid $navbar-default-link-color;
      position: relative;
      top: 15px;
      &:after {
        content: '';
        position: absolute;
        left: -5px;
        top: 5px;
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top: 5px solid $navbar-default-link-color;
      }
    }
  }
}
